<h1>Salut Ducon</h1>

<h2>Projets</h2>

<button><%= link_to 'Ajouter', new_project_path %></button>

<% @projects.each do |p|%>
  <h3><%=p.name %></h3>
  <% p.tags.each do |t|%>
    <p><%= t.name %></p>
  <% end %>
  <p><%=p.year %></p>
  <button><%= link_to 'Éditer', edit_project_path(p) %></button>
  <button><%= link_to "Supprimer", project_path(p), method: :delete, remote: true, data: { confirm: "Es-tu vraiment sûre de ton choix ducon ?" } %></button>
<% end %>

<hr>

<h2>Tags</h2>

<button><%= link_to 'Ajouter', new_tag_path %></button>

<% @tags.each do |t|%>
  <h3><%=t.name %></h3>
  <button><%= link_to 'Éditer', edit_tag_path(t) %></button>
  <button><%= link_to "Supprimer", tag_path(t), method: :delete, remote: true, data: { confirm: "Es-tu vraiment sûre de ton choix ducon ?" } %></button>
<% end %>
